@font-face {
	font-family: "SoraMedium";
	src: url("../src/fonts/Sora-Medium.ttf");
}
@font-face {
	font-family: "SoraRegular";
	src: url("../src/fonts/Sora-Regular.ttf");
}
@font-face {
	font-family: "Sorralight";
	src: url("../src/fonts/Sora-Light.ttf");
}
@font-face {
	font-family: "Sorraboild";
	src: url("../src/fonts/Sora-Bold.ttf");
}
@font-face {
	font-family: "NotoSansMedium";
	src: url("../src/fonts/NotoSans-Medium.ttf");
}

* {
	margin: 0;
	padding: 0;
	font-family: "SoraMedium", sans-serif;
	user-select: none;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	background-color: rgba(15, 15, 15, 255);
}

.topimage {
	position: absolute;
	width: 100%;
	z-index: 2;
	overflow: hidden;
	height: 27vh;
}

.image1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.image2 {
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
}

.imageofplayer {
	position: absolute;
	left: 50%;
	z-index: 3;
	top: 16.3vh;
	width: 8.3vw;
	height: 16.3vh;
	transform: translate(-50%);
	border-radius: 200%;
	overflow: hidden;
}
.imageofplayer img {
	width: 100%;
	height: 100%;
}

.displayinformation {
	position: absolute;
	top: 27vh;
	width: 100%;
	background-color: rgba(255, 0, 0, 0);
	height: 30vh;
}

.nameofplayer {
	position: absolute;
	color: #ebebeb;
	width: 100%;
	text-align: center;
	top: 7.5vh;
	font-size: 1.1vw;
	font-weight: 700;
	font-family: "NotoSansMedium";
}
.detailtext {
	position: absolute;
	left: 50%;
	top: 12vh;
	transform: translate(-50%);
	color: #9a9a9a;
	width: 40vw;
	text-align: center;
	font-size: 0.7vw;
	font-weight: 700;
	font-family: "SoraRegular";
}
.pearlback {
	position: absolute;
	width: 100%;
	height: 110vh;
	object-fit: cover;
	user-select: none;
	z-index: -1;
	opacity: 1%;
	left: 0vw;
}

.buttonsocial {
	position: absolute;
	width: 25vw;
	left: 50%;
	height: 5vh;
	top: 17.5vh;
	justify-content: center;
	align-items: center;
	transform: translate(-50%);
}

.button-social {
	position: relative;
	left: 3.4vw;
	display: inline-block;
	margin-left: 0.7vw;
	width: 2.55vw;
	border-radius: 0.3vw;
	background-color: #161616;
	border: 1px solid rgba(128, 128, 128, 0.07);
	height: 5vh;
	cursor: pointer;
}
.button-social:hover {
	transition: 1s all;
	transform: scale(1.05);
}
.socialimg {
	position: absolute;
	left: 0vw;
	width: 1.2vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.mysocial {
	position: absolute;
	color: #ebebeb;
	width: 100%;
	text-align: center;
	top: 25vh;
	font-size: 1.1vw;
	font-weight: 700;
	font-family: "NotoSansMedium";
}
.container-projects {
	position: absolute;
	width: 30vw;
	left: 50%;
	top: 30vh;
	height: 50vh;
	background-color: rgba(255, 0, 0, 0);
	transform: translate(-50%);
}
.container-project {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 6.5vh;
	border-radius: 0.1vw;
	cursor: pointer;
	margin-top: 1vh;
	top: -1vh;
	border: 1px solid rgba(128, 128, 128, 0.07);
	background-color: #131313f1;
}
.container-project:hover {
	transition: 1s all;
	transform: scale(1.02);
}
.textcenter {
	position: absolute;
	color: #ebebeb;
	width: 100%;
	text-align: center;
	top: 2.2vh;
	font-size: 0.8vw;
	font-weight: 300;
	font-family: "NotoSansMedium";
}

.smallerlogo {
	position: absolute;
	width: 2.28vw;
	border-radius: 0.1vw;
	left: 0.55vw;
	top: 1.05vh;
}
.banner {
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(1vw);
}
.leftredfade {
	position: absolute;
	left: 0vw;
	top: 15vh;
	height: 10vh;
	width: 10vw;
	background-color: #d90027;
	filter: blur(19vw);
}
.rightredfade {
	position: absolute;
	right: 0vw;
	top: 15vh;
	height: 10vh;
	width: 10vw;
	background-color: #d90027;
	filter: blur(19vw);
}
.footer {
	position: absolute;
	width: 100%;
	top: 93.7vh;
	height: 8vh;
}
.navlistfooter {
	width: 100%;
	align-items: center;
	text-align: center;
	padding-top: 3.6vh;
}

.navlistfooter a {
	color: white;
	font-size: 30px;
	font-weight: 500;
	font-size: 0.7vw;
	font-family: "SoraRegular";
	cursor: pointer;
	margin: 0 1vw;
	transition: all 0.45s ease;
}
.navlistfooter a:hover {
	transform: 1s all;
	border-bottom: 1px solid white;
}
.navlistfooter a.active {
	color: white;
}

@media screen and (max-width: 600px) {
	.topimage {
		position: absolute;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		height: 16vh;
	}
	.image1 {
		width: 200%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}

	.image2 {
		z-index: 2;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	.pearlback {
		position: absolute;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		user-select: none;
		z-index: -1;
		opacity: 1%;
		left: 0vw;
	}

	.imageofplayer {
		position: absolute;
		left: 50%;
		z-index: 3;
		top: 9.3vh;
		width: 100px;
		height: 100px;
		transform: translate(-50%);
		border-radius: 200%;
		overflow: hidden;
	}
	.imageofplayer img {
		width: 100%;
		height: 100%;
	}
	.displayinformation {
		position: absolute;
		top: 135px;
		width: 100%;
		background-color: rgba(255, 0, 0, 0);
		height: 30vh;
	}
	.buttonsocial {
		position: absolute;
		width: 328px;
		left: 50%;
		height: 5vh;
		top: 150px;
		justify-content: center;
		align-items: center;
		transform: translate(-50%);
	}

	.button-social {
		position: relative;
		left: -4px;
		display: inline-block;
		margin-left: 12.9px;
		width: 47px;
		border-radius: 0.8vw;
		background-color: #161616;
		border: 1px solid rgba(128, 128, 128, 0.07);
		height: 46px;
		cursor: pointer;
	}
	.button-social:hover {
		transition: 1s all;
		transform: scale(1.05);
	}
	.socialimg {
		position: absolute;
		left: 0vw;
		width: 5.5vw;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.mysocial {
		position: absolute;
		color: #ebebeb;
		width: 100%;
		text-align: center;
		top: 212.5px;
		font-size: 3.5vw;
		font-weight: 700;
		font-family: "NotoSansMedium";
	}
	.detailtext {
		position: absolute;
		left: 50%;
		top: 95px;
		transform: translate(-50%);
		color: #9a9a9a;
		width: 80vw;
		text-align: center;
		font-size: 2.5vw;
		font-weight: 700;
		font-family: "SoraRegular";
	}
	.nameofplayer {
		position: absolute;
		color: #ebebeb;
		width: 100%;
		text-align: center;
		top: 6.5vh;
		font-size: 5vw;
		font-weight: 700;
		font-family: "NotoSansMedium";
	}
	.container-projects {
		position: absolute;
		width: 80%;
		left: 50%;
		top: 250px;
		height: 50vh;
		background-color: rgba(255, 0, 0, 0);
		transform: translate(-50%);
	}

	.container-project {
		display: flex;
		width: 100%;
		overflow: hidden;
		height: 55px;
		border-radius: 5px;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		margin-top: 3vh;
		top: -3vh;
		border: 1px solid rgba(128, 128, 128, 0.07);
		background-color: #131313f1;
	}

	.container-project:hover {
		transition: 1s all;
		transform: scale(1.02);
	}

	.textcenter {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #ebebeb;

		font-size: 1.2vh;
		font-weight: 300;
		font-family: "NotoSansMedium";
	}

	.smallerlogo {
		position: absolute;
		width: 38px;
		height: 38px;
		border-radius: 5px;
		left: 9px;
		top: 8.5px;
	}
	.banner {
		position: absolute;
		width: 100%;
		height: 100%;
		filter: blur(1vw);
	}
	.footer {
		position: absolute;
		width: 100%;
		top: 775px;
		height: 8vh;
	}
	.navlistfooter a {
		font-size: 3vw;
		color: white;
		font-family: "NotoSansMedium";
	}
}
