@font-face {
	font-family: "SoraMedium";
	src: url("src/fonts/Sora-Medium.ttf");
}
@font-face {
	font-family: "SoraRegular";
	src: url("src/fonts/Sora-Regular.ttf");
}
@font-face {
	font-family: "Sorralight";
	src: url("src/fonts/Sora-Light.ttf");
}
@font-face {
	font-family: "Sorraboild";
	src: url("src/fonts/Sora-Bold.ttf");
}

* {
	padding: 0;
	margin: 0;
	user-select: none;
	box-sizing: border-box;
	font-family: "SoraMedium", sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root {
	--bg-color: rgba(12, 12, 13, 255);
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #dc4e76;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body {
	background: var(--bg-color);
	color: var(--text-color);
	animation: fadein 1s linear;
}
header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	border-bottom: 1px solid transparent;
	transition: all 0.45s ease;
}
.logo {
	color: var(--text-color);
	font-size: 55px;
	font-weight: 700;
	font-family: "SoraMedium", sans-serif;
	letter-spacing: 1px;
}

span {
	color: var(--main-color);
}

.navlist {
	width: 100%;

	align-items: center;
	text-align: center;
	padding-top: 4vh;
}

.navlist a {
	color: var(--second-color);
	font-size: 30px;
	font-weight: 500;
	font-size: 0.7vw;
	font-family: "SoraRegular";
	cursor: pointer;
	margin: 0 1vw;
	transition: all 0.45s ease;
}
.navlist a:hover {
	transform: 1s all;
	border-bottom: 1px solid white;
}
.navlist a.active {
	color: var(--main-color);
}

.svg1 {
	position: absolute;
	left: 0vw;
	top: 0vh;
	width: 30vw;
}
.backgroundimg {
	position: absolute;
	width: 100%;
	top: -20vh;
	height: 82vh;
}
.contactmebutton {
	position: absolute;
	width: 4.5vw;
	height: 3.5vh;
	color: var(--bg-color);
	border-radius: 1vw;
	font-family: "SoraMedium", sans-serif;
	left: 73.5vw;
	top: 3.2vh;
	font-weight: 500;
	padding-top: 0.1vh;
	font-size: 0.5vw;
	cursor: pointer;
	outline: none;
	border: none;
	background: linear-gradient(180deg, #bfbfd1 0%, #6d6a92 100%);
}

.logoimg {
	position: absolute;
	width: 4.1vw;
	cursor: pointer;
	top: 1.4vh;
	left: 20vw;
}

.logoimg.clicked {
	animation: spin 2s linear infinite;
}

.imgnoise {
	position: absolute;
	width: 100%;
	user-select: none;
	z-index: 1;
	opacity: 1%;
}
.imgnoise2 {
	display: none;
}
::-webkit-scrollbar {
	width: 0.3vw;
	background-color: #04080900;
	height: 1vh;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(17, 17, 17, 0.986);
}

::-webkit-scrollbar-thumb {
	background-color: #4f4f4f;
	border-radius: 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.185) 0 3px 13px 1px;
}

.text-introduce {
	position: absolute;
	font-family: "SoraMedium", sans-serif;
	font-weight: 500;
	left: 21vw;
	font-size: 1.2vw;
	top: 20vh;
}

.developertext {
	position: absolute;
	left: 21vw;
	top: 24.7vh;
	width: 30vw;
	font-size: 3vw;
	background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.infotext {
	position: absolute;
	font-family: "Sorralight", sans-serif;
	font-size: 0.7vw;
	width: 25vw;
	left: 21vw;
	top: 42.2vh;
	color: #ded0eb;
}
.imgcontainer {
	position: absolute;
	width: 20vw;
	height: 38vh;
	left: 56vw;
	overflow: hidden;
	top: 18.8vh;
	z-index: 2;
	transform: rotate(6deg);
	border-radius: 1vw;
	box-shadow: 0px 0px 42px 0px rgba(89, 37, 193, 0.581);
	background-color: rgba(12, 12, 13, 255);
}
.button-resume {
	position: absolute;
	width: 11vw;
	height: 4.5vh;
	color: #9914c186;
	border-radius: 0.4vw;
	font-family: "SoraMedium", sans-serif;
	left: 21vw;
	top: 50.6vh;
	font-weight: 500;
	padding-top: -0.01vh;
	padding-left: 1.5vw;
	font-size: 0.6vw;
	cursor: pointer;
	outline: none;
	z-index: 1;
	border: 1px solid #9914c186;
	background: #9914c100;
}
.button-resume:hover {
	background: #390748c3;
	transition: 1s all;
	color: white;
}

.button-resume:hover svg {
	fill: #ffffff86;
}

.downloadsvg {
	position: absolute;
	width: 1vw;
	top: 1.15vh;
	left: 1vw;
}
.aboutmetext {
	position: absolute;
	left: 49vw;
	top: 69vh;
	width: 30vw;
	font-size: 1.65vw;
	background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.infotextfacts {
	position: absolute;
	font-family: "Sorralight", sans-serif;
	font-size: 0.7vw;
	width: 32vw;
	left: 49vw;
	top: 75vh;
	color: #ded0eb;
}
.textskills {
	position: absolute;
	top: 81.7vh;
	left: 51vw;
	font-size: 0.65vw;
	color: #ded0eb;
	font-family: "Sorralight", sans-serif;
}
.infotextfacts2 {
	position: absolute;
	font-family: "Sorralight", sans-serif;
	font-size: 0.7vw;
	width: 32vw;
	left: 49vw;
	top: 92.5vh;
	color: #ded0eb;
}
.container-experiance {
	position: absolute;
	background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
	width: 5.2vw;
	top: 15vh;
	left: 56vw;
	transform: rotate(6deg);
	z-index: 4;
	border-radius: 1vw;
	height: 10vh;
}
.jahreserfahrung {
	position: absolute;
	color: #9914c1;

	font-weight: 1500;
	top: 1vh;
	width: 100%;
	font-size: 2vw;
	font-family: "Sorraboild", sans-serif;
	text-align: center;
}
.experianceyears {
	position: absolute;
	font-size: 0.5vw;
	left: 0vw;
	top: 6vh;
	width: 100%;
	color: rgba(12, 12, 13, 255);
	text-align: center;
}
.feedbackline {
	position: absolute;
	width: 100%;
	height: 23vh;
	z-index: 10;
	overflow-y: hidden;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	background-color: rgba(12, 12, 13, 255);
	top: 189vh;
}
.aboutmetexttext2 {
	position: absolute;
	left: 0vw;
	top: 182vh;
	width: 100%;
	text-align: center;
	font-size: 2vw;
	background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.feedback-container {
	position: relative;
	width: 10vw;
	height: 13vh;
	left: 1.5vw;
	top: 5.1vh;
	flex: 0 0 auto;
	display: inline-block;
	margin-left: 1vw;
	border-radius: 0.6vw;
	background-color: rgb(20, 20, 20);
	animation: move 40s linear infinite;
}
.textsaid {
	position: absolute;
	font-family: "Sorralight", sans-serif;
	font-size: 0.55vw;
	font-weight: 500;
	width: 8vw;
	left: 1vw;
	top: 5.5vh;
	color: #ded0eb;
}
.customername {
	position: absolute;
	top: 1.86vh;
	left: 3vw;
	font-size: 0.8vw;
	background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.logoofperson {
	position: absolute;
	width: 1.45vw;
	top: 1.5vh;
	left: 1vw;
	height: 2.9vh;
	background-color: white;
	border-radius: 2vw;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes move {
	0% {
		left: 1.5vw;
	}
	50% {
		left: -100vw;
	}
	100% {
		left: 1.5vw;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.aboutmetexttext3 {
	position: absolute;
	left: 0vw;
	top: 114vh;
	width: 100%;
	text-align: center;
	font-size: 2vw;
	background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.description {
	width: 100%;
	text-align: center;
	position: absolute;
	font-family: "Sorralight", sans-serif;
	font-size: 0.7vw;
	width: 100%;
	left: 0vw;
	top: 121vh;
	color: #ded0eb;
}
.container-recentwork {
	position: absolute;
	height: 50.1vh;
	width: 59.6vw;
	left: 19.9vw;
	top: 124vh;
	overflow-y: hidden;
	overflow-x: scroll;
	z-index: 10;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	background-color: rgba(255, 0, 0, 0);
}

.container-recentwork::-webkit-scrollbar {
	width: 0.3vw;
	background-color: #04080900;
	height: 0.3vh;
}

.container-recentwork::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(17, 17, 17, 0);
}

.container-recentwork::-webkit-scrollbar-thumb {
	background-color: #4f4f4f00;
	border-radius: 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.185) 0 3px 13px 1px;
}

.footer {
	position: absolute;
	width: 100%;
	top: 210.7vh;
	height: 8vh;
	background-color: rgba(22, 22, 23, 255);
}
.githublogo {
	position: absolute;
	width: 1.2vw;
	left: 32.9vw;
	cursor: pointer;
	top: 51.5vh;
	z-index: 100;
}
.container-recentwork2 {
	position: relative;
	width: 13.5vw;
	background-color: rgba(14, 14, 14, 255);
	height: 44vh;
	left: -0.5vw;
	top: 3.5vh;
	border-radius: 0.3vw;
	display: inline-block;
	flex: 0 0 auto;
	overflow: hidden;
	box-shadow: 0px 0px 22px 0px rgba(89, 37, 193, 0.382);
	margin-left: 1.4vw;
	z-index: 1;
}
.logoproject {
	position: absolute;
	width: 100%;
}
.logoproject2 {
	position: absolute;
	width: 6vw;
	left: 50%;
	top: 1.5vh;
	transform: translate(-50%);
}
.logoproject3 {
	position: absolute;
	width: 5vw;
	left: 50%;
	top: 3.9vh;
	transform: translate(-50%);
}
.img-container {
	position: absolute;
	top: 0vh;
	width: 100%;
	height: 14vh;
	background-color: rgba(255, 0, 0, 0);
}
.container-coding {
	position: absolute;
	width: 11.1vw;
	height: 2.65vh;
	top: 32.9vh;
	left: 1.25vw;

	background: #9914c140;
	border-radius: 0.2vw;
}
.porjectname {
	position: absolute;
	top: 16.65vh;
	width: 100%;
	text-align: center;
	font-size: 0.8vw;

	background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navlistfooter {
	width: 100%;

	align-items: center;
	text-align: center;
	padding-top: 3.6vh;
}

.navlistfooter a {
	color: var(--second-color);
	font-size: 30px;
	font-weight: 500;
	font-size: 0.7vw;
	font-family: "SoraRegular";
	cursor: pointer;
	margin: 0 1vw;
	transition: all 0.45s ease;
}
.navlistfooter a:hover {
	transform: 1s all;
	border-bottom: 1px solid white;
}
.navlistfooter a.active {
	color: var(--main-color);
}
.projectinfos {
	position: absolute;
	width: 1vw;
	top: 20vh;
	font-weight: 500;
	font-size: 0.5vw;
	text-align: center;
	width: 90%;
	left: 0.64vw;
	font-family: "SoraRegular";
}
.button-send {
	position: absolute;
	width: 11vw;
	height: 4.5vh;
	color: #9914c186;
	border-radius: 0.4vw;
	font-family: "SoraMedium", sans-serif;
	left: 1.3vw;
	top: 37.2vh;
	font-weight: 500;
	padding-top: -0.2vh;
	padding-left: 0.32vw;
	font-size: 0.6vw;
	cursor: pointer;
	outline: none;
	z-index: 1;
	border: 1px solid #9914c186;
	background: #9914c100;
}
.button-send:hover {
	background: #390748c3;
	transition: 1s all;
	color: white;
}

.button-send:hover svg {
	fill: #ffffff86;
}
.opensvg {
	position: absolute;
	width: 0.8vw;
	top: 1.36vh;
	left: 1.8vw;
}
.codingelment {
	position: absolute;
	width: 100%;
	top: 0.48vh;
	width: 100%;
	text-align: center;
	font-size: 0.65vw;

	background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.description2 {
	width: 100%;
	text-align: center;
	position: absolute;
	font-family: "Sorralight", sans-serif;
	font-size: 0.7vw;
	width: 100%;
	left: 0vw;
	top: 177vh;
	color: #ded0eb;
}

.imgtalking {
	position: absolute;
	top: 70vh;
	width: 21.5vw;
	left: 21vw;
}

.logoimgs {
	position: absolute;
	width: 18vw;
	top: 1vh;
	left: 1vw;
	border-radius: 1vw;
}
.sprache {
	position: absolute;
	width: 1.3vw;
	left: 62vw;
	top: 3.8vh;

	cursor: pointer;

	z-index: 2;
}

.codingimg {
	position: absolute;
	width: 21vw;
	left: -0.7vw;
	bottom: 0vh;
	z-index: 3;
}
.lilaglow {
	z-index: 2;
	position: absolute;
	background-color: rgba(89, 37, 193, 0.581);
	width: 15vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: blur(6vw);
	height: 20vh;
}
@media screen and (max-width: 600px) {
	.contactmebutton {
		position: absolute;
		width: 80px;
		height: 3.5vh;
		color: var(--bg-color);
		border-radius: 1vw;
		font-family: "SoraMedium", sans-serif;
		right: 1px;
		top: 25px;
		font-weight: 500;
		padding-top: 0.1vh;
		font-size: 10px;
		cursor: pointer;
		outline: none;
		border: none;
		background: linear-gradient(180deg, #bfbfd1 0%, #6d6a92 100%);
	}
	.navlist {
		display: none;
	}
	.logoimg {
		position: absolute;
		width: 60px;
		cursor: pointer;
		top: 14px;
		left: 20px;
	}

	.logoimg.clicked {
		animation: spin 2s linear infinite;
	}

	.sprache {
		position: absolute;
		width: 25px;
		right: 20px;
		top: 27px;
		cursor: pointer;
		z-index: 2;
	}
	.backgroundimg {
		position: absolute;
		width: 100%;
		top: -260px;
	}
	.imgnoise {
		position: absolute;
		height: 100%;
		user-select: none;
		z-index: 1;
		opacity: 1%;
	}
	.container-experiance {
		position: absolute;
		background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
		width: 5.2vw;
		top: 15vh;
		left: 56vw;
		display: none;
		transform: rotate(6deg);
		z-index: 4;
		border-radius: 1vw;
		height: 10vh;
	}
	.imgcontainer {
		display: none;
	}
	.text-introduce {
		position: absolute;
		font-family: "SoraMedium", sans-serif;
		font-weight: 500;
		left: 30px;
		font-size: 25px;
		width: 290px;
		top: 10vh;
	}
	.developertext {
		position: absolute;
		left: 30px;
		top: 160px;
		width: 210px;
		font-size: 16px;
		background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.footer {
		position: absolute;
		width: 100%;
		top: 1850px;
		height: 40px;
		background-color: rgba(22, 22, 23, 255);
	}
	.navlistfooter {
		width: 100%;

		align-items: center;
		text-align: center;
		padding-top: 11px;
	}

	.navlistfooter a {
		color: var(--second-color);
		font-size: 30px;
		font-weight: 500;
		font-size: 12px;
		font-family: "SoraRegular";
		cursor: pointer;
		margin: 0 1vw;
		transition: all 0.45s ease;
	}
	.navlistfooter a:hover {
		transform: 1s all;
		border-bottom: 1px solid white;
	}
	.navlistfooter a.active {
		color: var(--main-color);
	}
	.aboutmetexttext2 {
		position: absolute;
		left: 0vw;
		top: 1430px;
		width: 100%;
		text-align: center;
		font-size: 23px;
		background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.feedbackline {
		position: absolute;
		width: 100%;
		height: 145px;
		z-index: 10;
		overflow-y: hidden;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: hidden;
		background-color: rgba(12, 12, 13, 255);
		top: 1475px;
	}
	.feedback-container {
		position: relative;
		width: 200px;
		height: 135px;
		left: 10px;
		top: 11px;

		flex: 0 0 auto;
		display: inline-block;
		margin-left: 10px;
		border-radius: 10px;
		background-color: rgb(20, 20, 20);

		animation: move 40s linear infinite;
	}
	.textsaid {
		position: absolute;
		font-family: "Sorralight", sans-serif;
		font-size: 10px;
		font-weight: 500;
		width: 185px;
		left: 10px;
		top: 70px;
		color: #ded0eb;
	}

	.logoofperson {
		position: absolute;
		width: 40px;
		top: 1.5vh;
		left: 10px;
		height: 40px;
		background-color: white;
		border-radius: 100px;
	}
	.infotext {
		position: absolute;
		font-family: "Sorralight", sans-serif;
		font-size: 10px;
		width: 300px;
		left: 30px;
		top: 220px;
		color: #ded0eb;
	}
	.button-resume {
		position: absolute;
		width: 260px;
		height: 40px;
		color: #9914c186;
		border-radius: 10px;
		font-family: "SoraMedium", sans-serif;
		left: 30px;
		top: 300px;
		font-weight: 500;
		padding-top: -0.01vh;
		padding-left: -20px;
		font-size: 11px;
		cursor: pointer;
		outline: none;
		z-index: 1;
		border: 1px solid #9914c186;
		background: #9914c100;
	}
	.button-resume:hover {
		background: #390748c3;
		transition: 1s all;
		color: white;
	}

	.button-resume:hover svg {
		fill: #ffffff86;
	}
	.downloadsvg {
		position: absolute;
		width: 25px;
		top: 6px;
		left: 45px;
	}
	.aboutmetext {
		position: absolute;
		left: -2px;
		top: 390px;
		width: 100%;
		text-align: center;
		font-size: 25px;
		background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.infotextfacts {
		position: absolute;
		font-family: "Sorralight", sans-serif;
		font-size: 10px;
		width: 80%;
		text-align: center;
		left: 10%;
		top: 445px;
		color: #ded0eb;
	}
	.githublogo {
		position: absolute;
		width: 30px;
		left: 310px;
		cursor: pointer;
		top: 304px;
		z-index: 100;
	}
	.textskills {
		position: absolute;
		top: 505px;
		left: 10%;
		width: 80%;
		text-align: center;
		font-size: 10px;
		color: #ded0eb;
		font-family: "Sorralight", sans-serif;
	}
	.infotextfacts2 {
		position: absolute;
		font-family: "Sorralight", sans-serif;
		font-size: 10px;
		width: 80%;
		left: 10%;
		top: 580px;
		text-align: center;
		color: #ded0eb;
	}
	.imgtalking {
		display: none;
	}
	.aboutmetexttext3 {
		position: absolute;
		left: 0vw;
		top: 800px;
		width: 100%;
		text-align: center;
		font-size: 25px;
		background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.container-recentwork {
		position: absolute;
		height: 590px;
		width: 100%;
		left: 0vw;
		user-select: none;
		top: 830px;
		overflow-y: scroll;
		overflow-x: visible;
		z-index: 10;
		background-color: rgba(255, 0, 0, 0);
	}
	.container-recentwork2 {
		position: relative;
		width: 300px;
		background-color: rgba(14, 14, 14, 255);
		height: 440px;
		left: 7%;
		top: 60px;
		border-radius: 10px;
		overflow: hidden;

		box-shadow: 0px 0px 22px 0px rgba(89, 37, 193, 0.382);
		margin-left: 1.4vw;
		z-index: 1;
	}
	.button-send {
		position: absolute;
		width: 85%;
		height: 4.5vh;
		color: #9914c186;
		border-radius: 10px;
		font-family: "SoraMedium", sans-serif;
		left: 7.5%;
		top: 380px;
		font-weight: 500;
		padding-top: -0.2vh;
		padding-left: 0.32vw;
		font-size: 12px;
		cursor: pointer;
		outline: none;
		z-index: 1;
		border: 1px solid #9914c186;
		background: #9914c100;
	}
	.button-send:hover {
		background: #390748c3;
		transition: 1s all;
		color: white;
	}

	.button-send:hover svg {
		fill: #ffffff86;
	}
	.opensvg {
		position: absolute;
		width: 20px;
		top: 8px;
		left: 20px;
	}
	.porjectname {
		position: absolute;
		top: 181px;
		width: 100%;
		text-align: center;
		font-size: 20px;

		background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.projectinfos {
		position: absolute;
		width: 90%;
		top: 215px;
		left: 5%;
		font-weight: 500;
		font-size: 10px;
		text-align: center;
		width: 90%;

		font-family: "SoraRegular";
	}
	.container-coding {
		position: absolute;
		width: 85%;
		height: 25px;
		top: 340px;
		left: 7.5%;

		background: #9914c140;
		border-radius: 5px;
	}
	.codingelment {
		position: absolute;
		width: 100%;
		top: 4.5px;
		width: 100%;
		text-align: center;
		font-size: 12px;

		background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.logoproject2 {
		position: absolute;
		width: 120px;
		left: 50%;
		top: 20px;
		transform: translate(-50%);
	}
	.logoproject3 {
		position: absolute;
		width: 120px;
		left: 50%;
		top: 3.9vh;
		transform: translate(-50%);
	}
	.description {
		width: 100%;
		text-align: center;
		position: absolute;
		font-family: "Sorralight", sans-serif;
		font-size: 10px;
		width: 100%;
		left: 0vw;
		top: 850px;
		color: #ded0eb;
	}
	.customername {
		position: absolute;
		top: 21px;
		left: 62px;
		font-size: 20px;
		background: linear-gradient(90deg, #e58fff 0%, #f5f5ff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.description2 {
		width: 80%;
		left: 10%;
		text-align: center;
		position: absolute;
		font-family: "Sorralight", sans-serif;
		font-size: 10px;
		top: 1370px;
		color: #ded0eb;
	}
	.footer {
		position: absolute;
		width: 100%;
		top: 1630px;
		height: 5.7vh;
		background-color: rgba(22, 22, 23, 255);
	}
	.imgnoise2 {
		position: absolute;
		top: 810px;
		user-select: none;
		height: 80%;
		z-index: 1;
		opacity: 1%;
		display: block;
	}
	.lilaglow {
		display: none;
	}
	.codingimg {
		display: none;
	}
}
